<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <script src="react.development.js" crossorigin></script>
    <script src="react-dom.development.js" crossorigin></script>
    <script src="babel-core.js" crossorigin></script>
    <h1>Oi</h1>
    <div id="teste">
      <div id="top"></div>
    </div>
    <span id="aa"></span>
    <i id="it"></i>
    <b id="hora"></b>
    <div id="cclasse"></div>
    <script type="text/babel">
      function nome(user){
        return user.firstn + ' ' + user.lastn
      }
      const user = {
        firstn: "laura",
        lastn: "oliveira"
      };
      const element = (
        <h1> oie {nome(user)}!</h1>
      )
      // var Puts = React.createClass({
      //   render: function(){
      //     return <h1>olar</h1>
      //   }
      // })
      ReactDOM.render(
        element,
        document.getElementById("teste")
      )

      class Olar extends React.Component{
        render(){
          return (
            <small>
              <h2>CARAI MERMAO UM H2!! COM THIS PROPS CU {this.props.cu}</h2>
            </small>
          );
        }
      }
      const renderizar = <Olar cu="anus" />;
      ReactDOM.render(
        renderizar,
        document.getElementById("aa")
      )
      function Muitos(props){
        return (
          <div>
            <Olar cu="nenhum" />
            <Olar cu="tem rola" />
          </div>
        );
      }
      //isso por ser mt uril no rails, por ex
      //<% @Products.each do |i| %>
      //  <div name="<%= i.name %>"></div>
      //<%end%>
      // aí tem como pegar props.name
      //props.quanquer atributo q o model tenha
      ReactDOM.render(
        <Muitos />,
        document.getElementById("it")
      )
      
      function Relogio(props){
        return (
          <div>sao {props.date.toLocaleTimeString()}</div>
        );
      }
      
      function segundos(){
        ReactDOM.render(
          <Relogio date={new Date()} />,
          document.getElementById("hora")
        )
      }
      setInterval(segundos,1000);


      //RELOGIO DE CLASSE!!!!!!!!!!!!!!!!!!!!
      class Clock extends React.Component{
        constructor(props){
          super(props); //chama o contrutor pai, o construtor dos Components
          this.state = {date: new Date()}; //o estado agr tem uma data
        }
        tick(){ //coloca a data atual no estado
          this.setState({
            date: new Date()
          });
        }
        componentDidMount(){ //é chamado qnd eh criado pela primeira vez, dps q eh mostrado
          this.timerID = setInterval(
            () => this.tick(),
            1000
          );
        }
        ComponentWillUnmount(){ //chamado quando o componente for removido
          clearInterval(this.timerID);
        }
        render() {
          return (
            <div>sao (c classe) {this.state.date.toLocaleTimeString()}</div>
          )
        }
      }

      ReactDOM.render(
        <Clock />,
        document.getElementById("cclasse")
      )
    </script>
  </body>
</html>